<div data-mage-init='{"collapsible": {}}'>
    <div data-role="title">
        <strong>This is TITLE collapsible widget into collapsible widget</strong>
    </div>
    <div data-role="content">
        This is collapsible example content right here!
        This is collapsible example content right here!
        This is collapsible example content right here!
        This is collapsible example content right here!
        This is collapsible example content right here!
        This is collapsible example content right here!
    </div>
</div>
<script>
    console.log("this script was loaded by ajax request");
</script>
